@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/swipe-action.scss";
.at-accordion__header {
  position: sticky;
  top: 0;
  background: #ffffff;
  padding: 10px 24px 10px 24px;
}
.center-content {
  background: #f0f0f0;
  height: 100%;
}
.center-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 30px;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
  &-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &-text {
    color: #323232;
    margin-left: 10px;
  }
}
.recommend-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 10px;
  .recommend-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .recommend-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .recommend-image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .recommend-nickname {
          font-size: 24px;
          margin-left: 5px;
          color: #323232;
        }
      }
      .recommend-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #FF7800;
        height: 40px;
        width: 80px;
        border-radius: 8px;
        margin-top: 15px;
        &-icon {
          font-size: 20px;
          color: #ffffff
        }
        &-text {
          margin-left: 5px;
          font-size: 20px;
          color: #ffffff;
        }
      }
    }
  }
  .change-other-btn {
    color: #509AFF;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.list-empty {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: #ffffff;
}
